.article {
  background: var(--light);
  color: var(--contrast-text);
  position: relative;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 var(--contrast-text);
}

.article__headline {
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-color: var(--accent-1);
  text-decoration-thickness: 5px;
}

.article__paragraph {
  margin: 15px;
}

.article__svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media (min-width: 600px) {
  .article {
    width: 40%;
  }
  .article__svg {
    top: unset;
    bottom: 15px;
  }
}

@media (min-width: 1000px) {
  .article {
    width: 20%;
  }
}
