@import "./article.css";

.main-area {
  margin: var(--header-height) 0 var(--footer-height) 0;
  padding: 20px;
  background: var(--light);
  color: var(--contrast-text);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 600px) {
  .main-area {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .main-area {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    gap: 50px;
  }
}
